@use "../tools" as t;

.burger {
  display: none;
  z-index: 1000;
  position: relative;
  padding: 5px;
  border-radius: 2px;

  @media (max-width: 768px) {
    @include t.flex-mix(center, center, column, 7px);
  }

  .line {
    display: block;
    width: 35px;
    height: 3px;
    border-radius: 1.5px;
    background-color: t.$colorWhite;
    transition:
      transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.3s ease;
  }

  @media (hover: hover) {
    &:hover .line {
      background-color: t.$colorAccent;
    }
  }

  &.is-active {
    .line-top {
      transform: translateY(6px) rotate(45deg);
    }

    .line-bottom {
      transform: translateY(-4px) rotate(-45deg);
    }

    .line-mid {
      display: none;
    }
  }

  &:active .line {
    background-color: t.$colorAccent;
  }
}
