@use "../tools" as t;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  isolation: isolate;
  @include t.fluid-prop("padding-top", 10, 16, 320, 950);
  @include t.fluid-prop("padding-bottom", 10, 16, 320, 950);
  @include t.fluid-prop("padding-left", 20, 30, 320, 950);
  @include t.fluid-prop("padding-right", 20, 30, 320, 950);
  position: relative;
  overflow: hidden;
  border-radius: 6px;

  &[disabled] {
    pointer-events: none;
    opacity: 0.4;
  }

  span {
    display: inline-block;
    color: t.$colorWhite;
    font-weight: 600;
    line-height: 1;
    font-family: t.$font;
    text-align: center;
    @include t.fluid-prop("font-size", 16, 18, 320, 950);
  }
}
