@use "../tools" as t;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  padding: 16px 30px;
  isolation: isolate;
  @include t.fluid-prop("padding-top", 10, 16, 320, 950);
  @include t.fluid-prop("padding-bottom", 10, 16, 320, 950);
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  transition: filter 0.3s ease;

  span {
    display: inline-block;
    color: t.$colorWhite;
    font-weight: 600;
    line-height: 1;
    font-family: t.$font;
    text-align: center;
    @include t.fluid-prop("font-size", 16, 18, 320, 950);
  }
}
