@use "../tools" as t;

.cookie-banner {
  display: none;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;

  &--show {
   display: block;
   @keyframes slideUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    animation: slideUp 0.5s forwards;
  }
  

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    gap: 15px;
    border-radius: 12px;
    background-color: t.$colorBlack;
    pointer-events: auto;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__text {
    margin: 0;
    color:t.$colorWhite;
    font-size: 14px;
    line-height: 1.4;
    font-family: t.$font;
  }

  &__buttons {
    display: flex;
    flex-shrink: 0;
    gap: 10px;
  }

  &__btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: t.$font;

    transition: color 0.3s ease, background-color 0.3s ease;

    &--accept {
      background-color: t.$colorAccent;
       color: t.$colorBlack;

      @media (hover: hover) {
        &:hover {
          background-color: t.$colorWhite;

        }
      }
    }

    &--decline {
      background-color: transparent;
      color:  t.$colorWhite;
      border: 1px solid t.$colorWhite;

      @media (hover: hover) {
        &:hover {
          background-color: t.$colorWhite;
       color: t.$colorBlack;
        }
      }
    }

    &:active {
      transform: scale(0.97);
    }
  }
}
