@use "../tools" as t;

.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(245px, 365px));
  column-gap: 10px;
  row-gap: 33px;
  @include t.fluid-prop("row-gap", 18, 33, 320, 900);
  width: 100%;
  @include t.fluid-prop("padding", 10, 30, 320, 900);
  border-radius: 10px;
  background-color: t.$colorAccent;

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }


  &__input-box {
    position: relative;
    width: 100%;
    height: 60px;

    &:has(.form__textarea) {
      grid-column: 1 / -1;
    }

    &._is-invalid {
      .form__error {
        visibility: visible;
        color: t.$colorError;
        opacity: 1;
      }
    }

    &._is-valid {
      .form__error {
        visibility: visible;
        color: t.$colorSuccess;
        opacity: 1;
      }
    }
  }

  &__label {
    display: block;
    color: t.$colorBlack;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    font-family: t.$font;
  }

  &__input {
    width: 100%;
    height: 42px;
    padding: 10px;
    border: 1px solid t.$colorBlack;
    border-radius: 4px;
    background-color: t.$colorAccent;
    color: t.$colorBlack;
    font-size: 18px;
    line-height: 1;
   

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    t:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: t.$colorBlack !important;
    }

    &::placeholder {
      color: t.$colorBlack;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.2;
      font-family: t.$font;
    }
  }

  &__error {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 3px 10px;
    color: t.$colorError;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.5px;
    opacity: 0;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease,
      color 0.3s ease;
  }

  &__textarea {
    width: 100%;
    height: 49px;
    padding: 10px;
    border: 1px solid t.$colorBlack;
    border-radius: 6px;
    background-color: t.$colorAccent;
    color: t.$colorBlack;
    font-size: 18px;
    resize: none;

    &::placeholder {
      color: t.$colorBlack;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.2;
      font-family: t.$font;
    }
  }

  &__date-icon {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 14px;
    height: 14px;
    fill: t.$colorBlack;
  }

  &__submit {
    grid-column: 1 / -1;
    background-color: t.$colorBlack;
    transition:
      transform 0.3s ease,
      color 0.3s ease;

    &::before {
      z-index: -1;
      position: absolute;
      inset: 0;
      transform: scaleX(0);
      transform-origin: center;
      border-radius: 6px;
      background-color: t.$colorWhite;
      content: "";
      transition: transform 0.3s ease;
    }
    @media (hover: hover) {
      &:hover::before {
        transform: scaleX(1);
      }

      &:hover span {
        color: t.$colorBlack;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
