@use "../tools" as t;

.footer {
  width: 100%;
  @include t.fluid-prop("padding-top", 25, 50, 320, 950);
  @include t.fluid-prop("padding-bottom", 25, 50, 320, 950);
  @include t.fluid-prop("font-size", 16, 18, 320, 768);

  &__copyright {
    text-align: center;
  }

  &__credits {
    text-align: center;
  }

  &__author {
    font-weight: 600;
    letter-spacing: 0.5px;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    transition:
      transform 0.3s ease,
      color 0.3s ease;

    &::before {
      z-index: 1;
      position: absolute;
      left: 0;
      max-width: 0;
      height: 100%;
      overflow: hidden;
      content: attr(data-text);
      color: t.$colorAccent;
      white-space: nowrap;
      transition: max-width 0.3s ease;
    }
    @media (hover: hover) {
      &:hover::before {
        max-width: 100%;
      }

      &:hover {
        color: rgba(t.$colorWhite, 0);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
