@use "../tools" as t;

.gallery {
  position: relative;
  width: 100%;
  @include t.fluid-prop("padding-top", 70, 150, 320, 950);
  @include t.fluid-prop("padding-bottom", 50, 100, 320, 950);
  background-image: url("/src/assets/img/webp/bg-4.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: t.$colorBg;
   --overlay-opacity: 1;

  @media (min-width: 1920px) {
    @include t.fluid-prop("padding-top", 150, 200, 1920, 2700);
    @include t.fluid-prop("padding-bottom", 100, 200, 1920, 2700);
  }
  &::before {
    z-index: 1;
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
     background-color: rgba(31, 31, 33, var(--overlay-opacity, 1));
    background-image: radial-gradient(
      ellipse 85% 65% at 35% 45%,
      rgba(31, 31, 33, 0.7) 0%,
      rgba(31, 31, 33, 0.7) 25%,
      rgba(31, 31, 33, 0.8) 40%,
      rgba(31, 31, 33, 1) 50%,
      #1f1f21 75%
    );
    content: "";
    pointer-events: none;
  }

  &__inner {
    position: relative;
    width: 100%;
    z-index: 2;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__description {
    margin-bottom: 60px;
    color: t.$colorWhite;
    font-weight: 400;
    @include t.fluid-prop("font-size", 18, 24, 320, 768);
    line-height: 1.4;
    font-family: t.$font;
    text-align: center;
  }
}
