@use "../tools" as t;

.hero {
  width: 100%;
  overflow: hidden;
  @include t.fluid-prop("padding-top", 132, 252, 320, 950);
  @include t.fluid-prop("padding-bottom", 72, 102, 320, 950);
  background-image:
    radial-gradient(
      ellipse 100% 70% at 50% 40%,
      rgba(31, 31, 33, 0) 0%,
      rgba(31, 31, 33, 0.1) 0%,
      rgba(31, 31, 33, 0.8) 40%,
      rgba(31, 31, 33, 1) 50%,
      #1f1f21 75%
    ),
    url("/src/assets/img/webp/bg-1.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: t.$colorBg;

  @media (min-width: 1920px) {
    @include t.fluid-prop("padding-top", 252, 352, 320, 2700);
    @include t.fluid-prop("padding-bottom", 102, 152, 320, 2700);
  }

  &__inner {
    width: 100%;
    @include t.flex-mix(center, center, column);
  }

  &__title {
    margin-bottom: 30px;
    @include t.fluid-prop("margin-bottom", 15, 30, 320, 950);
  }

  &__subtitle {
    margin-bottom: 50px;
  }

  &__subtitle-text {
    display: block;
    color: t.$colorWhite;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    font-family: t.$font;
    text-align: center;
    @include t.fluid-prop("font-size", 22, 36, 320, 950);
  }

  &__buttons {
    width: 100%;
    @include t.flex-mix(center, center, row, 20px);

    @media (max-width: 576px) {
      @include t.flex-mix(center, center, column, 20px);
    }
  }

  &__direction-button {
    background-color: t.$colorSuccess;
    transition: transform 0.3s ease;

    &::before {
      z-index: -1;
      position: absolute;
      inset: 0;
      transform: scaleX(0);
      transform-origin: center;
      border-radius: 6px;
      background-color: t.$colorAccent;
      content: "";
      transition: transform 0.3s ease;
    }
    @media (hover: hover) {
      &:hover::before {
        transform: scaleX(1);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__book-button {
    background-color: t.$colorAccent;
    transition: transform 0.3s ease;

    &::before {
      z-index: -1;
      position: absolute;
      inset: 0;
      transform: scaleX(0);
      transform-origin: center;
      border-radius: 6px;
      background-color: t.$colorSuccess;
      content: "";
      transition: transform 0.3s ease;
    }
    @media (hover: hover) {
      &:hover::before {
        transform: scaleX(1);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
