@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/woff2/broncoPersonalUse.woff2") format("woff2");
  font-family: "broncoPersonalUse";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/woff2/Rokkitt-Regular.woff2") format("woff2");
  font-family: "Rokkitt";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/woff2/Rokkitt-Medium.woff2") format("woff2");
  font-family: "Rokkitt";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("/src/assets/fonts/woff2/Rokkitt-SemiBold.woff2") format("woff2");
  font-family: "Rokkitt";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/src/assets/fonts/woff2/Rokkitt-Bold.woff2") format("woff2");
  font-family: "Rokkitt";
  font-display: swap;
}





