@use "../tools" as t;

:root {
}
* {
  &:focus-visible {
    outline-color: t.$colorWhite;
    outline-offset: 2px;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px; 
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: t.$colorItemBg;
  border-radius: 4px;

 &:hover,
  &:active {
    background-color: t.$colorItemBg;
  }
}


* {
  scrollbar-width: thin;
  scrollbar-color: t.$colorItemBg transparent;
}

html {
  overflow-x: hidden;
}

body {
  background-color: t.$colorBg;
  color: t.$colorWhite;
  font-weight: 400;
  font-size: 18px;
  font-family: t.$font;
  text-wrap: balance;
}



html:has(body.lock),
body.lock {
  overflow: hidden;
  touch-action: none;
}