@use "../tools" as t;

:root {
 
  }
html {
  overflow-x: hidden;
}

body {
  background-color: t.$colorBg;
  color: t.$colorWhite;
  font-weight: 400;
  font-size: 18px;
  font-family:t.$font;
  overflow-x: hidden;
}


