@use "../tools" as t;

:root {
}
* {
  &:focus-visible {
    outline-color: t.$colorWhite;
    outline-offset: 2px;
  }
}

html {
  overflow-x: hidden;
}

body {
  background-color: t.$colorBg;
  color: t.$colorWhite;
  font-weight: 400;
  font-size: 18px;
  font-family: t.$font;
  text-wrap: balance;
}



html:has(body.lock),
body.lock {
  overflow: hidden;
  touch-action: none;
}