@use "../tools" as t;
@use "../components";
@use "../base";

.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: t.$colorBg;
  font-family:t.$font;
  text-align: center;

  &__container {
    max-width: 480px;
    width: 100%;
  }

  &__badge {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: t.$colorError;
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: t.$colorAccent;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.6;
     color: t.$colorWhite;
    margin-bottom: 2rem;
  }

  &__counter {
    font-weight: 700;
    color: t.$colorAccent;
    font-size: 20px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  
  &__btn {
     background-color: t.$colorAccent;
    transition: transform 0.3s ease;

    &::before {
      z-index: -1;
      position: absolute;
      inset: 0;
      transform: scaleX(0);
      transform-origin: center;
      border-radius: 6px;
      background-color: t.$colorSuccess;
      content: "";
      transition: transform 0.3s ease;
    }
    @media (hover: hover) {
      &:hover::before {
        transform: scaleX(1);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}