<div
  class="modal"
  id="modal-lightbox"
  aria-hidden="true"
>
  <div class="modal__content lightbox">
    <button
      class="lightbox__close-btn modal__close-btn button"
      type="button"
      aria-label="Close modal"
    >
      <span class="lightbox__close-btn-span lightbox__top-span"></span>
      <span class="lightbox__close-btn-span lightbox__bottom-span"></span>
    </button>

    <img
      class="lightbox__img"
      id="lightbox-img"
      src=""
      alt=""
    />
  </div>
</div>
