<div
  class="modal"
  id="modal-success"
  aria-hidden="true"
>
  <div class="modal__content success-modal">
    <button
      class="success-modal__close-btn"
      type="button"
      aria-label="Close modal"
    >
      ✕
    </button>

    <div class="success-modal__icon">
      <svg>
        <use href="#icons-features-icon-1"></use>
      </svg>
    </div>

    <h2 class="success-modal__title">You're almost there!</h2>

    <p class="success-modal__text">
      Got your booking request! We'll reach out shortly to confirm your spot in
      the chair.
    </p>
  </div>
</div>
