<div
  class="tabs {=$class}"
  id="{=$id}"
>
  <div
    class="tabs__buttons"
    role="tablist"
  >
    <div class="tabs__button-track">
      <button
        class="tabs__button tabs__button--active button"
        type="button"
        role="tab"
        id="tab-beard"
        aria-selected="true"
        aria-controls="beard"
        data-tab="beard"
      >
        <span> beards</span>
      </button>

      <button
        class="tabs__button button"
        type="button"
        role="tab"
        id="tab-haircut"
        aria-selected="false"
        aria-controls="haircut"
        data-tab="haircut"
      >
        <span> haircuts</span>
      </button>

      <button
        class="tabs__button button"
        type="button"
        role="tab"
        id="tab-mustache"
        aria-selected="false"
        aria-controls="mustache"
        data-tab="mustache"
      >
        <span> mustache</span>
      </button>

      <button
        class="tabs__button button"
        type="button"
        role="tab"
        id="tab-boys"
        aria-selected="false"
        aria-controls="boys"
        data-tab="boys"
      >
        <span> boy's haircuts</span>
      </button>
    </div>
  </div>

  <div class="tabs__content">
    <div
      class="tabs__panel tabs__panel--active"
      id="beard"
      role="tabpanel"
      aria-labelledby="tab-beard"
      aria-hidden="false"
    >
      <div class="tabs__panel-content"></div>
      <button
        class="tabs__more-button button"
        type="button"
      >
        <span>more photos</span>
      </button>
    </div>

    <div
      class="tabs__panel"
      id="haircut"
      role="tabpanel"
      aria-labelledby="tab-haircut"
      aria-hidden="true"
    >
      <div class="tabs__panel-content"></div>
      <button
        class="tabs__more-button button"
        type="button"
      >
        <span>more photos</span>
      </button>
    </div>

    <div
      class="tabs__panel"
      id="mustache"
      role="tabpanel"
      aria-labelledby="tab-mustache"
      aria-hidden="true"
    >
      <div class="tabs__panel-content"></div>
      <button
        class="tabs__more-button button"
        type="button"
      >
        <span>more photos</span>
      </button>
    </div>

    <div
      class="tabs__panel"
      id="boys"
      role="tabpanel"
      aria-labelledby="tab-boys"
      aria-hidden="true"
    >
      <div class="tabs__panel-content"></div>
      <button
        class="tabs__more-button button"
        type="button"
      >
        <span>more photos</span>
      </button>
    </div>
  </div>
</div>
