@use "sass:map";

// Typography
$fontTitle: 'broncoPersonalUse', Georgia, serif;
$font: 'Rokkitt', 'Times New Roman', serif;


//  Colors
$colorAccent: #E5A51A;
$colorBg: #1F1F21;
$colorBlack: #000;
$colorWhite: #fff;
$colorError:    #ff4d4d;
$colorSuccess:  #6DAA23;
$colorModalBg:  #000000d1;

