@use "sass:map";

// Typography
$fontTitle: "broncoPersonalUse", "Arial Narrow", "Trebuchet MS", sans-serif;
$font: "Rokkitt", "Times New Roman", serif;

//  Colors
$colorAccent: #e5a51a;
$colorBg: #1f1f21;
$colorBlack: #000;
$colorWhite: #fff;
$colorError: #ff4d4d;
$colorSuccess: #6daa23;
$colorModalBg: #000000d1;
